{% extends "layout.html.twig" %}

{% block title %}Error{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    
                </div>
                <div class="panel-body">
                    <div class="alert alert-danger" role="alert">
                        Something went wrong with parsing!
                    </div>
                </div>
            </div>
        </div>
    </div>        
{% endblock %}
