{% extends "layout.html.twig" %}

{% block stylesheets %}
    <!-- DataTables CSS -->
    <link href="/assets/datatables-plugins/dataTables.bootstrap.css" type="text/css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="/assets/datatables-responsive/dataTables.responsive.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">

                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-hover" 
                           id="dataTables"
                           width="100%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>RemoteAddr</th>
                                <th>ServerName</th>
                                <th>RemoteUser</th>
                                <th>Time</th>
                                <th>Request</th>
                                <th>Status</th>
                                <th>Bytes</th>
                                <th>Referer</th>
                                <th>Agent</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for log in entries %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>
                                        {{ log.remoteAddr }}
                                    </td>
                                    <td>
                                        {{ log.serverName }}
                                    </td>
                                    <td>
                                        {{ log.user }}
                                    </td>                                    
                                    <td>
                                        {{ log.stamp|date("d.m.Y H:i:s") }}
                                    </td>
                                    <td>
                                        {{ log.request }}
                                    </td>
                                    <td>
                                        {{ log.status }}
                                    </td>
                                    <td>
                                        {{ log.sentBytes }}
                                    </td>
                                    <td>
                                        {{ log.referer }}
                                    </td>                                    
                                    <td>
                                        {{ log.userAgent }}
                                    </td>                               
                                </tr>
                            {% endfor %}                         
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>        
{% endblock %}

{% block javascripts %}
    <!-- DataTables JavaScript -->
    <script src="/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/assets/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="/assets/datatables-responsive/dataTables.responsive.js"></script>
    <script>
    $(document).ready(function() {
        $('#dataTables').DataTable({
            responsive: true,
            pageLength: 10,
            lengthMenu: [ [10, 25, 50, -1], [10, 25, 50, "All"] ]
        });
    });
    </script>    
{% endblock %}