<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    
    <title>{% block title %}Log Parser{% endblock %}</title>
    
    <!-- Bootstrap Core CSS -->
    <link href="/assets/css/bootstrap.min.css" type="text/css" rel="stylesheet">

    {% block stylesheets %}{% endblock %}
    
</head>
<body>

    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Nginx Log Parser</a>
            </div>
        </nav>

        <div id="page-wrapper">
            {% block content %}{% endblock %}
        </div>
    </div>    

    <!-- jQuery -->
    <script src="/assets/js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/assets/js/bootstrap.min.js"></script>

    {% block javascripts %}{% endblock %}
    
</body>

</html>